<h1>coucou show</h1>
<%= @cocktail.name %>
<%= @cocktail.price %>
<%= cl_image_tag @cocktail.photo.key, class: "yes" ,crop: :fill %>
<% unless @cocktail.doses.empty? %>
  <%= @cocktail.doses.each do |dose| %>
    <li> <%= dose.description %> | <%= dose.ingredient.name%>
      <%= link_to "supprimer dose", dose_path(dose), method: "delete", class: "delete-dose"%>
    </li>
  <% end %>
<% end %>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description, label: "Dose" %>
  <%= f.association :ingredient %>
  <button type="submit">Add Ingredient</button>
<% end %>
